/* Auth.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: unset;
  }
  
  .login-container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #1da1f2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* justify-content: center; */
  }
  
  button:hover {
    background-color: #0c89db;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
  }
  
  a {
    color: #1da1f2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .google-button{
    margin-top: 7px;
justify-content: center;
  }